<div class="game">
  <div class="play" *ngIf="(isPlay$ | async)">
    <app-play-area></app-play-area>
    <app-play-info></app-play-info>
    <div class="game-over" *ngIf="gameOver">
      <p>Game Over</p>
    </div>
  </div>
</div>
<div class="game-input" *ngIf="(isPlay$ | async)">
  <input type="input" (keyup.enter)="handleInput($event)">
  <a routerLink="/main">Stop</a>
</div>
<div class="game-input" *ngIf="!(isPlay$ | async)">
  <input type="input" value="Start를 눌러서 게임을 시작하세요" disabled >
  <a routerLink="/play">Start</a>
</div>